<main>
  <p id="notice"></p>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        
          <h2>User info</h2>

          <%= form_with model: @user do |f| %>

            <h6>Name</h6>
            <%= f.text_field :name %>

            <h6>Image</h6>
            <%= f.file_field :image, accept: "image/*" %>

            <h6>Introduction</h6>
            <%= f.text_area :introduction %>

            <%= link_to user_path(@user.id), class: "btn btn-secondary" do %>Update User
            <% end %>

          <% end %>

        </div>
      </div>
    </div>
</main>