<%= render 'books/list', books: @books %>

<h2>Users</h2>
  <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>image</th>
            <th>name</th>
          </tr>
        </thead>
    
      <tbody>
      <% @Books.each do |book| %>
        <tr>
          <td>
            <%= image_tag @user.get_profile_image(80,80) %>
          </td>
          <td>
            <%= book.user.name %>
            <%= link_to book_path(book.id) do %>
            <%= image_tag book.get_image %>
            <% end %>
          </td>
          <td>
          <span>
            <%= link_to "Show", user_path(book.id) %>
          </span>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>